:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  font-size: var(--font-size);
}
body,
.header,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img__dashboard {
  width: 320px;
}
